In [3]:
import pandas as pd
import requests
from bs4 import BeautifulSoup
import re
import sam_stuff_cloud

## City

In [4]:
#create our city df:
city_df = pd.DataFrame(columns = ["city","country","population","latitude","longitude"])#.set_index("city")

In [5]:
def citygrab2(city):
    #create our city df:
    #city_df = pd.DataFrame(columns = ["city","country","population","latitude","longitude"])#.set_index("city")
    url = "https://en.wikipedia.org/wiki/"+city
    response = requests.get(url)
    soup_city = BeautifulSoup(response.content, 'html.parser')
    for header in soup_city.find_all(class_="infobox-header"):
        if header.find(string=re.compile("population", re.IGNORECASE)):
            popu = header.find_next(class_="infobox-data").text
            
#soup_city.find_all(class_="mergedtoprow")
    for merger in soup_city.find_all(class_="mergedtoprow"):
        if merger.find(string=re.compile("country", re.IGNORECASE)):
            country = merger.find_next(class_="infobox-data").text
            
    for merger in soup_city.find_all(class_="mergedrow"):    # different hirarchy for london
        if merger.find(string=re.compile("country", re.IGNORECASE)):
            country = merger.find_next(class_="infobox-data").text
    
    #soup_city.find_all(class_="infobox-full-data")
    for coords in soup_city.find_all(class_="infobox-full-data"):
        if coords.find(string=re.compile("Coordinates", re.IGNORECASE)):
            lati = coords.find_next(class_="latitude").text
            longi = coords.find_next(class_="longitude").text
            
    city_df.loc[len(city_df)]=({"city":str.capitalize(city), "country":country,"population":popu,"latitude":lati,"longitude":longi})
    return city_df

In [6]:
citygrab2("Berlin")
city = citygrab2("London")

In [7]:
#Fix the problem with population numbers ([1]for london, and replace the commas for both)
city['population'] = city['population'].str.replace('[1]','')
city['population'] = city['population'].str.replace(',','')
city["population"] = pd.to_numeric(city["population"])
city

     city  country  population    latitude   longitude
0  Berlin  Germany     3755251  52°31′12″N  13°24′18″E
1  London  England     8799800  51°30′26″N    0°7′39″W

#### Create conection to SQL cloud

In [11]:
schema = "gans"
host = "34.140.215.38"
user = "root"
password = sam_stuff_cloud.instance_pass
port = 3306

connection_string = f'mysql+pymysql://{user}:{password}@{host}:{port}/{schema}'

#### Send data to SQL cloud

In [13]:
city.to_sql(name='city',if_exists='append',con=connection_string,index=False)

2

## Airport

In [24]:
cities_df = pd.read_sql('city',con=connection_string)
cities_df

   city_id    city  country  population    latitude   longitude
0        1  Berlin  Germany     3755251  52°31′12″N  13°24′18″E
1        2  London  England     8799800  51°30′26″N    0°7′39″W

In [27]:
# create dictionary for airport
airports_dict = {'ICAO':[],'city_id':[]}

icao_dict = { 'Berlin':'EDDB',
             'London':'EGLL' }

# connect city id with icao, looping through the dataframe with df.iterrows:
for i, row in cities_df.iterrows():
    airports_dict['city_id'].append(row['city_id'])  
    airports_dict['ICAO'].append(icao_dict[row['city']])

In [35]:
airports_df = pd.DataFrame(airports_dict)
airports_df

   ICAO  city_id
0  EDDB        1
1  EGLL        2

#### Send data to SQL cloud

In [39]:
airports_df.to_sql('airport',if_exists='append',index=False, con=connection_string)

2